<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="false">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%-5level] [%t] [%class{20}] - %m%n</pattern>
    </encoder>
  </appender>
  <appender name="FILE-GLOBAL" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>../logs/selenate-server.log</File>
    <encoder>
      <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%-5level] [%t] [%c{36}] - %m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>../logs/selenate-server-%d{yyyy-MM-dd}.log</fileNamePattern>
    </rollingPolicy>
  </appender>
  <appender name="TRACE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>../logs/selenate-server-trace.log</File>
    <encoder>
      <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%-5level] [%t] [%class{20}] - %m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>../logs/selenate-server-trace%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>10</maxHistory>
    </rollingPolicy>
  </appender>
  <root level="DEBUG">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="FILE-GLOBAL"/>
  </root>
</configuration>

