server {
  # The hostname or ip to bind the Akka remoting to.
  host = localhost

  # File system locations (relative to code/ folder)
  locations {
    # Location of session display recordings.
    # $DT: date time in ISO 8601 format.
    # $NAME: Session name.
    recordings = "../recordings/selenate-recording_$DT_$NAME.mp4"
  }

  # All values are in seconds
  timeouts {
    # Time to wait for Selenium to load a page (SeReqGet and SeReqClick
    # actions).
    page_load = 10

    # During shutdown, time to wait for driver pool browsers to close.
    shutdown = 30
  }

  # Driver pool settings
  pool {
    # Number of pre-loaded drivers
    size = 5

    # Display on which to initialize the drivers. Valid values are Main,
    # FirstFree, or a specific integer indicating a display number.
    display = Main

    # Toggles recording of session displays. Works only with FirstFree or
    # specific pool.display number.
    record = false

    # If defined, specifies where to find Firefox executable
    # If not defined, a system default is used.
    # binary = /path/to/firefox/binary

    # Firefox preference overrides. These prefs are injected directly into
    # the Firefox profile.
    prefs {
      # int_pref = 4
      # bool_pref = true
      # str_pref = 'asdf'
    }
  }
}
