server {
  # Is the server killable with ENTER
  is-killable = true

  # Should tryo and tryb emit trace log messages with errors.
  tryo-trace = false

  # File system locations (relative to code/ folder)
  locations {
    # Location of session display recordings.
    # $DT: date time in ISO 8601 format.
    # $NAME: Session name.
    recordings = "../recordings/selenate-_$DT_$NAME.mp4"

    # Log file location, in Logback's time based rolling policy format.
    # See: http://logback.qos.ch/manual/appenders.html#TimeBasedRollingPolicy
    log = "../logs/selenate-%d{yyyy-MM-dd}.log"
  }

  # All values are in seconds
  timeouts {
    # Time to wait for Selenium to load a page (SeReqGet and SeReqClick
    # actions).
    page-load = 10 seconds

    # During shutdown, time to wait for driver pool browsers to close.
    shutdown = 30 seconds

    # Startup timeout for x11vnc server (an error is thrown if it does not start
    # within the specified duration).
    vnc-startup = 5 seconds
  }

  # Driver pool settings
  pool {
    # Number of pre-loaded drivers
    size = 5

    # Display on which to initialize the drivers. Valid values are Main,
    # FirstFree, or a specific integer indicating a display number.
    display = Main

    # In case of FirstFree display setting, this sets the created display
    # resolution.
    display-width = 1024
    display-height = 768

    # Host used to listen for VNC connections
    vnc-host = localhost

    # If defined, specifies where to find Firefox executable
    # If not defined, a system default is used.
    # binary = /path/to/firefox/binary

    # Firefox preference overrides. These prefs are injected directly into
    # the Firefox profile.
    prefs {
      # "key.int-pref" = 4
      # "key.bool-pref" = true
      # "key.str-pref" = "asdf"
    }
  }
}
