server {
  pool {
    default {
      size = 3
    }
    
    no-alert {
      size = 5
      prefs = "capability.policy.default.Window.alert='noAccess';capability.policy.default.Window.confirm='noAccess';capability.policy.default.Window.prompt='noAccess'"
    }
    
    no-img {
      size = 2
      prefs = "permissions.default.image=1"
    }
  }
}