// SELENATE AKKA CLIENT CONFIG

akka {
  loglevel = DEBUG
  loggers = ["akka.event.slf4j.Slf4jLogger"]
  logging-filter = "akka.event.slf4j.Slf4jLoggingFilter"
  log-dead-letters = on
  log-dead-letters-during-shutdown = on

  actor {
    provider = "akka.remote.RemoteActorRefProvider"

    debug {
      receive = on
      autoreceive = on
      lifecycle = on
      unhandled = on
    }
  }

  remote {
    log-received-messages = on
    log-sent-messages = on
    ## log-frame-size-exceeding = on

    require-cookie = on
    secure-cookie = "D6B03B584BCAFEAAA35F2066926BF44EA7FCD172"

    enabled-transports = ["akka.remote.netty.tcp"]

    netty.tcp {
      // hostname = set programmatically when system starts (from client.host in client config)
      port = 0 // Random port

      // Images from capturing can take a lot of space.
      maximum-frame-size = 10M

      connection-timeout = 120s
    }
  }
}
